
html, body{
    cursor: none;
}

body{
    height: 200vh;
}

* {
    margin: 0;
    margin-block: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

[data-class='customCursor'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 98;

    background-color: red;
}

[data-class='imgTest'] {

    img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    img:first-of-type{
        opacity: 0;
    }
}