
html, body{
    cursor: none;
    margin:26px;
}

.customCursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;

    background-color: red;
}
.rabbit{
    position: relative;
    background-color: rgb(241, 229, 229);
    color: rgb(50, 1, 1);
    padding:24px;
    border: 2px solid rgb(102, 1, 1);
    border-radius: 10px;
}
.alice{
    position: relative;
    background-color: rgb(241, 229, 229);
    color: rgb(50, 1, 1);
    padding:24px;
    border: 2px solid rgb(102, 1, 1);
    border-radius: 10px;
}
.alice__texte{
    text-align: right;
}
.rabbit::before{
	content:"";
	position:absolute;
	bottom:-24px; 
	left:10px; 
	border-left:0px solid transparent;
	border-right:12px solid transparent; 
	border-top:24px solid rgb(102, 1, 1);
}
.rabbit::after{
    content:"";
	position:absolute;
	bottom:-18px; 
	left:12px; 
	border-left:0px solid transparent; 
	border-right:8px solid transparent; 
	border-top:20px solid rgb(241, 229, 229); 
}
.alice::before{
	content:"";
	position:absolute;
	bottom:-26px; 
	right:68px; 
	border-right:0px solid transparent;
	border-left:12px solid transparent; 
	border-top:24px solid rgb(102, 1, 1);
}
.alice::after{
    content:"";
	position:absolute;
	bottom:-20px; 
	right:70px; 
	border-right:0px solid transparent; 
	border-left:7px solid transparent; 
	border-top:20px solid rgb(241, 229, 229); 
}
.dialogue__texte{
   display: none;
}
.active{
    display: flex;
}