
html, body{
    cursor: none;
}

body{
    /* height: 200vh; */
    background-color: #061316;
}

* {
    margin: 0;
    margin-block: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

[data-class='customCursor'] {
    position: fixed;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 98;
    opacity: 1;
    user-select: none;
}

[data-class='frame__container'] {
    user-select: none;
    pointer-events: none;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
        pointer-events: none;
    }
}

[data-class~='frame--1']{
    display: none;
}
[data-class~='frame--2']{
    display: none;
}
[data-class~='frame--3']{
    display: none;
}
[data-class~='frame--4']{
    display: none;
}
[data-class~='frame--5']{
    display: none;
}
[data-class~='frame--6']{
    display: none;
}
[data-class~='frame--7']{
    display: none;
}
[data-class~='frame--8']{
    display: none;
}
[data-class~='frame--9']{
    display: none;
}
[data-class~='frame--10']{
    display: none;
}
[data-class~='frame--11']{
    display: none;
}

[data-class~='frame--active']{
    display: block;
}

[data-class~='frame--rabbit']{
    position : fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

[data-class~='frame--rabbit frame--active']{
    opacity: 1;
}